.container {
    display: flex;
    background-color: #eee;
    justify-content: center;
    border-radius: 10px;
}

.center {
    column-count: 3;
    width: 1200px;
}

.containerLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.label {
    font-size: 20px;
}

.label2 {
    font-size: 17px;
}

.btn {
    margin-inline: 50px;
}

.containerPAY {
    display: flex;
    background-color: #eee;
    justify-content: center;
    border-radius: 10px;
}

.centerPAY {
    display: flex;
    width: 1200px;
    height: 1200px;
    justify-content: center;
    
}